
## <summary>policy for circuit</summary>


########################################
## <summary>
##	Transition to circuit.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`circuit_domtrans',`
	gen_require(`
		type circuit_t, circuit_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, circuit_exec_t, circuit_t)
')


########################################
## <summary>
##	Execute circuit server in the circuit domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`circuit_initrc_domtrans',`
	gen_require(`
		type circuit_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, circuit_initrc_exec_t)
')


########################################
## <summary>
##	Search circuit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`circuit_search_lib',`
	gen_require(`
		type circuit_var_lib_t;
	')

	allow $1 circuit_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read circuit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`circuit_read_lib_files',`
	gen_require(`
		type circuit_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, circuit_var_lib_t, circuit_var_lib_t)
')

########################################
## <summary>
##	Manage circuit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`circuit_manage_lib_files',`
	gen_require(`
		type circuit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, circuit_var_lib_t, circuit_var_lib_t)
')

########################################
## <summary>
##	Manage circuit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`circuit_manage_lib_dirs',`
	gen_require(`
		type circuit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, circuit_var_lib_t, circuit_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a circuit environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`circuit_admin',`
	gen_require(`
		type circuit_t;
		type circuit_initrc_exec_t;
		type circuit_var_lib_t;
	')

	allow $1 circuit_t:process { ptrace signal_perms };
	ps_process_pattern($1, circuit_t)

	circuit_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 circuit_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, circuit_var_lib_t)

')

